.choiceBtn{
    line-height: 30px;
    width: 150px;
}
#gameDiv{
    font-family: 'Segoe WP Black', sans-serif;
    border: 3px solid;
    border-radius: 25px;
    padding: 10px;
    background-color: lime;
    text-align: center;
}
#playerText{
    color: blue;
}
#computerText{
    color: red;
}

